<!------------------------------------------------------------------------------------------------- 
- Toto view obsluhuje metodu InsurancesController.Index  
- Zobrazuje seznam pojištěnců
- Nejedná se o kompletní stránku, ale pouze o její část, která se vloží do layoutu.
- Znak zavináč uvádí C# kód v HTML souboru, takzvaý Razor.
-------------------------------------------------------------------------------------------------->

<!-- Definuje, že modelem tohoto view je kolekce objektů třídy Insurance -->
@model IEnumerable<Insurance_ASP.Models.Insurance>

@{
    ViewData["Title"] = "Pojištění";  // Upraveno - Nastavení titulku
    string loggedUserEmail = User.Identity.Name;
}

<!-------------------------------------------------------------------------------------------------
Obsah vkládané stránky 
-------------------------------------------------------------------------------------------------->

<!-- Hlavní nadpis stránky -->
<h1>@ViewData["Title"]</h1>

<!-- Tabulka s pojištěními -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Smlouva
                </th>
                <th>
                    Pojištěnec
                </th>
                <th>
                    Typ pojištění
                </th>
                <th>
                    Předmět
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValidFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValidTo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <!-- Zajišťuje, že přihlášený ne-admin uživatel vidí pouze svá pojištění -->
                @if (User.IsInRole("Admin") || loggedUserEmail == item.Person.Email)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">SM-@Html.DisplayFor(modelItem => item.Id)</a>
                        </td>
                        <td>
                            <a asp-controller="Persons" asp-action="Details" asp-route-id="@item.Person.Id">
                                @item.Person.FirstName @item.Person.LastName</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValidFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValidTo)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning me-1">Editovat</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Odstranit</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
