<!------------------------------------------------------------------------------------------------- 
- Toto view obsluhuje metodu InsurancesController.Index  
- Zobrazuje seznam pojištěnců
- Nejedná se o kompletní stránku, ale pouze o její část, která se vloží do layoutu.
- Znak zavináč uvádí C# kód v HTML souboru, takzvaý Razor.
-------------------------------------------------------------------------------------------------->

<!-- Definuje, že modelem tohoto view je kolekce objektů třídy Insurance -->
<!-- PaginatedList je použit pro účely paginace -->
@*model IEnumerable<Insurance_ASP.Models.Insurance>*@
@model PaginatedList<Insurance_ASP.Models.Insurance>

@{
    ViewData["Title"] = "Pojištění";  // Upraveno - Nastavení titulku
}

<!-------------------------------------------------------------------------------------------------
Obsah vkládané stránky 
-------------------------------------------------------------------------------------------------->

<!-- Hlavní nadpis stránky -->
<h1>@ViewData["Title"]</h1>

<!-- Tabulka s pojištěními -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Smlouva</th>
                <th>Pojištěnec</th>
                <th>Typ pojištění</th>
                <th>Předmět</th>
                <th>Pojistná částka</th>
                <th>Platnost od</th>
                <th>Platnost do</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var insurance in Model) 
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@insurance.Id">SM-@Html.DisplayFor(modelItem => insurance.Id)</a>
                    </td>
                    <td>
                        <a asp-controller="Persons" asp-action="Details" asp-route-id="@insurance.Person.Id">
                            @insurance.Person.FirstName @insurance.Person.LastName</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => insurance.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => insurance.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => insurance.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => insurance.ValidFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => insurance.ValidTo)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@insurance.Id" class="btn btn-warning me-1">Editovat</a>
                            <a asp-action="Delete" asp-route-id="@insurance.Id" class="btn btn-danger">Odstranit</a>
                        }
                    </td>
                </tr>   
            }
        </tbody>
    </table>
</div>

<!-- Paginace -->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
} 

<!-- Flexbox, který umístí dvě paginační tlačítka vedle sebe a zarovná je na střed -->
<div class="d-flex justify-content-center flex-wrap">

    <!-- Tlačítko Předchozí -->
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
        class="btn btn-primary me-2 @prevDisabled">Předchozí
    </a>

    <!-- Tlačítko Další -->
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">Další
    </a>

</div>
