<!------------------------------------------------------------------------------------------------- 
- Toto view obsluhuje metodu IncidentsController.Create  
- Zobrazuje formulář pro zadání nového pojištěnce
- Nejedná se o kompletní stránku, ale pouze o její část, která se vloží do layoutu.
- Znak zavináč uvádí C# kód v HTML souboru, takzvaý Razor.
-------------------------------------------------------------------------------------------------->

<!-- Definuje, že modelem tohoto view je objekt třídy Incident -->
@model Insurance_ASP.Models.Incident

@{
    ViewData["Title"] = "Přidat pojistnou událost";  // Upraveno - Nastavení titulku
}

<!-------------------------------------------------------------------------------------------------
Obsah vkládané stránky 
-------------------------------------------------------------------------------------------------->

<div class="center-800">

    <!-- Hlavní nadpis stránky -->
    <h1>@ViewData["Title"] ke smlouvě SM-@ViewBag.Insurance.Id</h1>
    <hr />
    
    <!-- Shrnutí pojištěnce a smlouvy -->
    <dl class="row">
        <dt class="col-sm-3">
            Pojištěnec
        </dt>
        <dd class="col-sm-9">
            <a asp-controller="Persons" asp-action="Details" asp-route-id="@ViewBag.Person.Id">
                @ViewBag.Person.FirstName @ViewBag.Person.LastName
            </a>
        </dd>
        <dt class="col-sm-3">
            Pojistná smlouva
        </dt>
        <dd class="col-sm-9">
            <a asp-controller="Insurances" asp-action="Details" asp-route-id="@ViewBag.Insurance.Id">
                SM-@ViewBag.Insurance.Id
            </a>
        </dd>
        <dt class="col-sm-3">
            Typ pojištění
        </dt>
        <dd class="col-sm-9">
            @ViewBag.Insurance.Type
        </dd>
        <dt class="col-sm-3">
            Předmět pojištění
        </dt>
        <dd class="col-sm-9">
            @ViewBag.Insurance.Subject
        </dd>
    </dl>   
    <hr class="mb-sm-4" />
    
    <!-- Formulář -->
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
        <!-- Jeden řádek formuláře s více elementy -->
        <div class="row">
            <div class="form-group col-sm-6 pb-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6 pb-2">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
    
        <!-- Jeden řádek formuláře s více elementy -->
        <div class="row pb-3">
            <!-- Typ status jako rozevírací seznam předaný z ViewBagu -->
            <div class="form-group col-sm-6 pb-2">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class ="form-control" asp-items="Incident.GetStatusTypes()"></select>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
    
        <!-- Skrytý input, do kterého se předá hodnota InsuranceId rovnou z ViewBagu -->
        <input type="hidden" asp-for="InsuranceId" value="@(ViewBag.Insurance.Id)" />
    
        <hr class="mt-sm-3" />

        <!-- Flexbox, který umístí tlačítka vedle sebe a zarovná je na střed -->
        <div class="d-flex justify-content-center flex-wrap">
    
            <!-- Tlačítko na odeslání formuláře -->
            <input type="submit" value="Uložit" class="btn btn-primary me-2" />
    
            <!-- Tlačítko na seznam všech exitujících událostí -->
            <a asp-action="Index" class="btn btn-primary me-2">Zpět na seznam událostí</a>
    
        </div>
    
    </form>

</div>


